[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"xotl.crdt" = {editable = true, path = "."}

[dev-packages]
sphinx = "~=3.4.0"
sphinx-rtd-theme = "*"
hypothesis = "*"
mypy = "==0.790"
ipython = "*"
ipdb = "*"

[requires]
python_version = "3.8"
