[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {editable = true, path = "."}

[dev-packages]
sphinx = "==1.8.1"
hypothesis = "*"
mypy = "==0.630"
"e1839a8" = {editable = true, path = "."}
ipython = "*"
ipdb = "*"

[requires]
python_version = "3.6"
